@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu NSW ACT Foundation', cursive;
  --theme: #002D62;
}

#home-wrapper {
  background: url("../images/green-sky.gif");
  min-height: 100vh;
  background-size: cover;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-wrapper #container {
  padding: 10px;
  backdrop-filter: blur(20px);
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 22px;
  text-align: start;
  animation: homeStartAnimation 0.5s 1 ease-out;
}

#home-wrapper .homeAnime {
  transition: 0.2s;
  transform: translateX(-110%);
}

@keyframes homeStartAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.error-text-container {
  color: var(--theme);
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

#home-wrapper #container p span {
  color: red;
}

#home-wrapper #container p em {
  text-decoration: underline;
}

#home-wrapper #btn-container {
  width: 100%;
  text-align: end;
  margin-top: 30px;
}

#home-wrapper #btn-container button {
  font-size: 22px;
  padding: 10px 20px;
  outline: none;
  border: 1px solid transparent;
  background: #002D62;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

#form-container {
  background: url("../images/green-sky.gif");
  min-height: 100vh;
  background-size: cover;
  padding: 20px;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container #form {
  padding: 30px 20px;
  backdrop-filter: blur(10px);
  border: 1px solid transparent;
  border-radius: 5px;
  animation: formAnimation .2s 1 ease;
  flex-grow: 1;
}

@keyframes formAnimation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

#form .field-container,
#form .textarea-container {
  border-bottom: 1px solid gainsboro;
  width: 100%;
  position: relative;
}

#form .field-container {
  height: 50px;
  margin-bottom: 20px;
}

#form .textarea-container {
  margin-top: 25px;
  margin-bottom: 20px;
  min-height: 100px;
}

#form .field-container input,
#form .textarea-container textarea {
  padding: 10px;
  font-size: 22px;
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  color: white;
  transition: 0.2s;
}

#form .field-container label,
#form .textarea-container label {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 22px;
  transition: 0.6s;
  color: gainsboro;
}

#form .field-container input:focus~label,
#form .field-container input:valid~label {
  top: -10px;
  font-size: 12px;
  color: grey;
}

#form .textarea-container textarea:focus~label,
#form .textarea-container textarea:valid~label {
  top: -15px;
  font-size: 12px;
  color: grey;
}

#form .submit-btn {
  width: 100%;
  text-align: center;
}

#form .submit-btn button {
  font-size: 22px;
  padding: 10px 20px;
  background: #002D62;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
}

#form .submit-btn button:focus {
  border: 2px solid white;
}

#form-container #rocket {
  height: 100vh;
  text-align: center;
}

#form-container .save {
  transition: 0.5s ease-out;
  transform-origin: bottom center;
  transform: scale(0);
}

#form-container #rocket {
  height: 100vh;
}

#form-container #rocket span {
  display: inline-block;
  height: 100px;
  width: 100px;
}

#form-container #rocket img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rocketAnime 1.5s ease-in infinite;
}

@keyframes rocketAnime {
  0% {
    transform: translateY(70vh);
  }

  50% {
    transform: translateY(70vh);
  }

  100% {
    transform: translateY(-120%);
  }
}

#thanks-wrapper {
  background: url("../images/green-sky.gif");
  min-height: 100vh;
  background-size: cover;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanks-wrapper #thanks-container {
  padding: 10px;
  backdrop-filter: blur(20px);
  border: 1px solid transparent;
  border-radius: 5px;
  animation: thanksAnime 0.5s ease-out 1;
}

@keyframes thanksAnime {
  from {
    transform: translateY(150%);
  }

  to {
    transform: translateY(0);
  }
}

#thanks-container p {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

#thanks-container p em {
  text-decoration: underline;
}

#thanks-wrapper #disclaimer {
  width: 100%;
}

#thanks-wrapper #disclaimer p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

#thanks-wrapper #disclaimer sup {
  color: red;
}

#thanks-wrapper #disclaimer #disclaimer-img {
  text-align: center;
  height: 100px;
}

#thanks-wrapper #disclaimer-img img {
  max-height: 100%;
}

#loader-preview {
  display: flex;
  justify-content: center;
}

#loader-container {
  width: 60%;
  height: 10px;
  background: var(--theme);
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#loader-container #loader {
  width: 10%;
  height: 100%;
  background-color: white;
  transform: skewX(35deg);
  position: absolute;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    left: 0
  }

  100% {
    left: 100%
  }
}

/* ------------------------------- */


.my-wish {
  min-height: 100vh;
  background: url("../images/green-sky.gif");
  background-size: cover;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-wish blockquote {
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.3rem;
}

.my-wish blockquote p {
  padding-left: 1rem;
  margin-top: 1rem;
}

.my-wish blockquote div {
  text-align: end;
  margin-top: 1.5rem;
}

.my-wish blockquote div button {
  font-size: 1.3rem;
  padding: 0.2rem 3rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background: #002D62;
  color: white;
}

.notes {
  backdrop-filter: blur(10px);
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
}

.msg {
  width: 100%;
  background: linear-gradient(transparent, transparent, silver);
  border: 1px solid gainsboro;
  box-shadow: 0 0 5px 2px gainsboro;
  font-size: 1.2rem;
  color: var(--theme);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1rem;
}

.msg .from {
  border-bottom: 1px solid gainsboro;
  padding: 0.5rem;
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.msg section {
  display: flex;
  min-height: 150px;
  justify-content: center;
  align-items: center;
}

.msg .msg-container {
  display: inline-block;
  min-width: 80%;
  padding: 0 .5rem;
}

.msg .icon-container {
  cursor: pointer;
  position: relative;
}

.msg .icon-container .copy-note {
  position: absolute;
  font-size: 14px;
  width: 70px;
  padding: 0px 5px;
  background: var(--theme);
  color: white;
  border-radius: 20px;
  top: -25px;
  right: 5px;
}

.msg .icon-container .delete-confirmation {
  position: absolute;
  font-size: 16px;
  text-align: center;
  width: 70vw;
  right: -5px;
  top: 35px;
  background: var(--theme);
  ;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.msg .icon-container .delete-confirmation::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: var(--theme);
  ;
  transform: rotate(45deg);
  right: 10px;
  top: -7px;
}

.msg .icon-container .delete-confirmation .delete-btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.msg .icon-container .delete-confirmation button {
  outline: none;
  border: none;
  background-color: white;
  padding: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.msg .icon-container .delete-confirmation button:first-child {
  color: green;
}

.msg .icon-container .delete-confirmation button:last-child {
  color: red;
}

.msg .to {
  padding: 0.5rem;
  text-align: start;
}

.msg em {
  padding: 0.5rem;
}

.msg .by {
  width: 100%;
  padding: 0.5rem;
  text-align: end;
}

.waiting-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid gainsboro;
  border-top: 5px solid var(--theme);
  animation: initialLoader 2s infinite linear;
}

@keyframes initialLoader {
  100% {
    transform: rotate(360deg);
  }
}

/* FOR TABLET-------------------------------------------------- */

@media screen and (min-width : 481px) and (max-width : 768px) {
  #home-wrapper #container {
    width: 400px;
  }

  #form-container #form {
    width: 400px;
    flex-grow: 0;
  }

  #thanks-wrapper #thanks-container {
    width: 400px;
  }

  .my-wish blockquote {
    width: 400px;
  }

  .msg {
    width: 400px;
  }

  .msg .icon-container .delete-confirmation {
    width: 250px;
  }
}

/* FOR LAPTOP------------------------------------------ */

@media screen and (min-width : 769px) {

  .lap-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #home-wrapper {
    width: 500px;
    min-height: 90vh;
    border-radius: 10px;
    overflow: hidden;
  }

  #form-container {
    width: 500px;
    min-height: 90vh;
    border-radius: 10px;
    overflow: hidden;
  }

  #thanks-wrapper {
    width: 500px;
    min-height: 90vh;
    border-radius: 10px;
    overflow: hidden;
  }

  .my-wish {
    width: 500px;
    min-height: 90vh;
    border-radius: 10px;
    overflow: hidden;
  }

  .msg {
    width: 400px;
  }

  .msg .icon-container .delete-confirmation {
    width: 250px;
  }
}